body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: Helvetica,'Microsoft YaHei','STHeiti',Arial,sans-serif;
}
h2{
  font-weight: 400;
}
table,td,tr,th {
  font-size: 12px;
}
li {
  list-style-type: none;
}
table {
  margin: 0 auto;
}
img {
  border: 0;
  vertical-align: top;
}
ol,ul {
  list-style: none;
}
q:before,q:after {
  content: '';
}
i{
  font-style: normal;
}
abbr,acronym {
  border: 0;
}
address,caption,cite,code,dfn,em,th,var {
  font-style: normal;
  font-weight: 400;
}
input,textarea,select,option {
  font-family: 'Microsoft YaHei','STHeiti',Helvetica,Arial,sans-serif;
}
a {
  text-decoration: none;
  outline: none;
  color: #272626;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.logo{
  height: 63px;
  background-image: url("../image/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 17px;
}
.bottom{
  height: 60px;
  margin-top: 75px;
  position: relative;
}
.bottom_logo{
  width: 117px;
  height: 60px;
  float: right;
  background-image: url("../image/bottom_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.media{
  width: 140px;
  height: 29px;
  background-image: url("../image/media.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.media.gray{
  background-image: url("../image/media_gray.jpg");
}
.media a{
  height: 29px;
  display: inline-block;
}
.media a:first-of-type{
  width: 90px;
}
.media a:last-of-type{
  width: 30px;
}
@keyframes myopacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes myopacity
{
  from {opacity: 0;}
  to {opacity: 1;}
}
body{
  background-color: #fbfbfb;
  color: #272626;
  padding-top: 60px;
}
.black{
  color: #272626;
}
.main{
  max-width: 1000px;
  margin: 0 auto;
}
.nav_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content{
  color: #555555;
}
.block h2{
  font-size: 35px;
  margin-bottom: 3px;
}
.block ul{
  visibility: hidden;
}
.block:hover ul{
  visibility: visible;
}
.block{
  padding: 0 50px;
  text-align: left;
}
.item{
  font-size: 12px;
  margin-bottom:5px;
  cursor: pointer;
}
.item:hover{
  /* font-size: 18px; */
  transform: scale(1.5);
  -webkit-transform-origin-x: 0px;
  -ms-transform-origin-x: 0px;
  -moz-transform-origin-x: 0px;
}
