.img_box{
  width: 443px;
  height: 478px;
  display: inline-block;
}
.img_box img{
  width: 100%;
}
.text {
  display: inline-block;
  margin: 50px 80px 0 50px;
  vertical-align: top;
}
.text li{
  margin-bottom: 20px;
}
.text p {
  line-height: 30px;
}
.content{
  padding: 130px 55px 160px 55px;
}
.qr_code{
  position: absolute;
  bottom: 30px;
  right: -150px;
}
.qr_code p{
  font-size: 15px;
  font-weight: 100;
  /* color: #272626; */
  display: inline-block;
}
.code_img{
  display: inline-block;
  width: 156px;
  height: 156px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../image/contact/qr_code_image.png');
}
body{
  background-color: #fbfbfb;
}
.bottom_logo{
  display: none;
}
.bottom{
  margin-bottom: 100px;
}